{% extends "layout.html" %}

{% block title %}
    Register / Signup

{% endblock %}


{% block content %}
    <h1>Register / Signup here</h1>

    <h2>{{ message }}</h2>

    <div>
        <form  class="container-form-register" action="{{ url_for('register') }}" method="POST" onsubmit="return validateForm()">
            <label for="name">Name</label>
            <input class="form-group" type="text" name="name" autocomplete="off" autofocus required>
            <br>
            <label for="email">Email:</label>
            <input class="form-group" type="email" name="email" required>
            <br>
            <label for="password">Enter Password:</label>
            <input class="form-group" id="password" type="password" name="password" required>
            <br>
            <label for="password_re_enter">Re-enter Password:</label>
            <input class="form-group" id="password_re_enter" type="password" name="password_re_enter" required>
            <br>
            <input type="submit" value="Register">
        </form>
    </div>

    <script>
        function validateForm() {
            const password = document.getElementById('password').value;
            const passwordReEnter = document.getElementById('password_re_enter').value;

            if (password !== passwordReEnter) {
                alert('Passwords do not match! Please try again')
                return false;
            }

            return true;

        }
    </script>
{% endblock %}

